/*link button creation and styling*/
a{
  text-decoration: none;

  color: white;
  background-color: rebeccapurple;
 
  width: fit-content;
  padding: 15px;
  border-radius: 50px;
}

a:hover{
  color: black;
  background-color: pink;
  text-shadow: none;
}