body{
  font-size: 38px;
  margin: 0;
}

header {
  display: flex;

  flex-direction: column;
  align-items: center;
  
  height: 100vh;

  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  text-shadow: 2px 2px black;
} 

h1{
  font-family: "Luckiest Guy", sans-serif;
  color: white;

  padding: 1rem;
  margin-bottom: 0;
}

p{
  font-family: "Lato", serif;

  color: white;

  font-size: 30px;
}