/*generic body*/
body{
  font-size: 30px;

  line-height: 1.4;

  margin: 0;
}

/*increase font size when on desktop*/
@media (width>50rem){
  body{
    font-size: 38px;
  }
  p{
    font-size: 30px;
  }
}

/*text underneath hero*/
.text{
  font-size: 20px;
 
  color: black;
}